@font-face {
            font-family: 'FontAwesome';
            src:url('../font-awesome-4.7.0/fonts/fontawesome-webfont.eot') format('eot'),
               url('../font-awesome-4.7.0/fonts/FontAwesome.otf') format('otf'),
               url('../font-awesome-4.7.0/fonts/fontawesome-webfont.svg') format('svg'),
               url('../font-awesome-4.7.0/fonts/fontawesome-webfont.ttf') format('ttf'),
               url('../font-awesome-4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
               url('../font-awesome-4.7.0/fonts/fontawesome-webfont.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
}